---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% assign published = site.data.publications | where: "category", "manuscripts" | sort: "year" | reverse %}

<ol>
{% for publication in published %}
<li>{{ publication.reference }}{% if publication.doi %} <a href="https://doi.org/{{ publication.doi }}">Read Online</a>{% endif %}</li>

{% endfor %}
</ol>
